
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.card {
  border: none;
  border-radius: 10px
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.badge span {
  background-color: #0cd540;
  width: 60px;
  height: 25px;
  padding-bottom: 0px;
  border-radius: 5px;
  display: flex;
  color: #d3dada;
  justify-content: center;
  align-items: center
}



.text1 {
  font-size: 14px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}